<section class="comment-app main-layout">
    <comment-list (replyAdded)="commentAdded($event)" (commentRemoved)="openDeleteConfirm($event)"
        (commentUpdated)="commentUpdated($event)" [loggedUser]="loggedUser" [comments]="comments$ | async">
    </comment-list>
    <comment-add [newComment]="newComment" (commentAdded)="commentAdded($event)" *ngIf="loggedUser"
        [loggedUser]="loggedUser"></comment-add>
    <delete-confirm (delete)="commentRemoved()" (cancel)="commentForRemoval=null" *ngIf="commentForRemoval"></delete-confirm>
</section>